<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <form>

                    <fieldset>
                        <label for="firstName">Id</label>
                        <input type="text"  [(ngModel)]="userData.id" name="name" id="firstName" placeholder="Id">
                    </fieldset>
                    

                    <fieldset>
                        <label for="name">Name</label>
                        <input type="text"  [(ngModel)]="userData.name" autocomplete="new-password" name="name" id="name" placeholder="Name">
                    </fieldset>

                    <fieldset>
                        <label for="mail">Email</label>
                        <input type="email"  [(ngModel)]="userData.email" autocomplete="new-password" name="name" id="mail" placeholder="Mail">
                    </fieldset>
                    
                    <fieldset>
                        <label for="status">Status</label>
                        <select name="select-choice" id="status" [(ngModel)]="userData.status" >
                            <option value="">- - select one - -</option>
                            <option value="Available">Available</option>
                            <option value="Not available">Not available</option>
                        </select>
                    </fieldset>
                    <fieldset>
                        <label for="select-choice">Type</label>
                        <select name="select-choice" id="select-choice" [(ngModel)]="userData.type" >
                            <option value="">- - select one - -</option>
                            <option value="Admin">Admin</option>
                            <option value="Security">Security</option>
                            <option value="Customer service">Customer service</option>
                            <option value="Field agent">Field agent</option>
                        </select>
                    </fieldset>
                    <fieldset>
                        <label for="textarea">Password</label>
                        <input name="passwprd" autocomplete="new-password" [(ngModel)]="userData.password"  type="text" id="textarea" placeholder="Password">
                    </fieldset>

              </form>
            </div>

            <div class="col-md-6">
                <div class="rightBox">
            
                    <fieldset>
                        <legend>Access</legend>
                        <input type="checkbox" id="check1" name="checkboxes"  [(ngModel)]="userData.allAccess.user">
                        <label for="check1">User</label><br>
                        <input type="checkbox" id="check2" name="checkboxes" [(ngModel)]="userData.allAccess.camera">
                        <label for="check2">Cameras</label><br>
                        <input type="checkbox" id="check3" name="checkboxes" [(ngModel)]="userData.allAccess.parking">
                        <label for="check3">Parking</label>
                        <input type="checkbox" id="check4" name="checkboxes" [(ngModel)]="userData.allAccess.complaint">
                        <label for="check4">Complaint</label>
                        <input type="checkbox" id="check45" name="checkboxes" [(ngModel)]="userData.allAccess.test">
                        <label for="check45">Test</label>

                      </fieldset>
                </div>
                <div class="rightBox">
            
                    <fieldset>
                        <legend>Assigned Areas</legend>
                        <div *ngFor="let user of userData.allParkings | keyvalue">

                            <input type="checkbox" id="{{user.key}}" name="checkboxes" [checked]="user.value" >
                            <label for="{{user.key}}">{{user.key}}</label><br>
                        </div>
                       
                      </fieldset>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <button (click)="addUser()">{{userData.id ? 'Update' : 'Save'}}</button>
            </div>
            <div class="col-md-3">
                <button (click)="delete()" *ngIf="userData.id">Delete</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table>
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Type</th>
                        <th scope="col">Password</th>
                        <th scope="col">Access</th>
                        <th scope="col">Assigned Areas</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user of users">
                        <td data-label="Account">{{user.id}}</td>
                        <td data-label="Due Date">{{user.name}}</td>
                        <td data-label="Amount">{{user.status}}</td>
                        <td data-label="Period">{{user.type}}</td>
                        <td data-label="Period">{{user.password}}</td>
                        <td data-label="Period">{{user.access}}</td>
                        <td data-label="Period">{{user.parking_areas}}</td>
                      </tr>
                    
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>