<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <form>

                    <fieldset>
                        <label for="firstName">Id</label>
                        <input type="text" name="namejk" readonly ngDefaultControl disabled id="firstName" [(ngModel)]="cameraDetails.id" [ngModelOptions]="{standalone: true}" placeholder="Id">
                    </fieldset>
                    
                    <input type="file" #input
                    id="file" style="display: none"
                    (change)="handleFileInput($event.target.files)">
                    <fieldset>
                        <label for="name" class="w60">Link</label>
                        <input type="text" class="ib w60" ngDefaultControl  [(ngModel)]="cameraDetails.camera_url" [ngModelOptions]="{standalone: true}" name="name" id="name" placeholder="Link">
                        <button class="ib w40 no-margin" (click)="input.click()">Add Video</button>
                    </fieldset>

                    <fieldset>
                        <label for="select-choice" >Parking Area</label>
                        <select name="select-choice" ngDefaultControl  [(ngModel)]="cameraDetails.parking_area" [ngModelOptions]="{standalone: true}" id="select-choice">
                            <option value="0">- - select one - -</option>
                            <option *ngFor="let par of parkings" [value]="par.id">{{par.address}}</option>
                        </select>
                    </fieldset>
                    <fieldset>
                        <label for="textarea">Coordinated</label>
                        <input name="textarea" type="text" id="textarea" ngDefaultControl  placeholder="Coordinates" [ngModelOptions]="{standalone: true}" [(ngModel)]="cameraDetails.co_ordinates">
                    </fieldset>
                    
                </form>
            </div>

            <div class="col-md-6">
                <div class="rightBox">
            
                    <div id="googleMap" style="width:100%;height:400px;"></div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <button (click)="addCamera()">{{cameraDetails.id ? 'Update' : 'Save'}}</button>
            </div>
            <div class="col-md-3">
                <button (click)="delete()" *ngIf="cameraDetails.id">Delete</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table>
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Link</th>
                        <th scope="col">Coordinates</th>
                        <th scope="col">Parking area</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let cam of cameras" (click)="cameraDetails = cam">
                        <td data-label="Account">{{cam.id}}</td>
                        <td data-label="Due Date">{{cam.camera_url}}</td>
                        <td data-label="Amount">{{cam.co_ordinates}}</td>
                        <td data-label="Period">PA-{{cam.parking_area}}</td>
                      </tr>
                    
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>