<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <form>

                    <fieldset>
                        <label for="firstName">User Id</label>
                        <input type="text" name="name" id="firstName" placeholder="User Id">
                    </fieldset>
                    

                    <fieldset>
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" placeholder="Name">
                    </fieldset>
                    
                    <fieldset>
                        <label for="name2">Date Issued</label>
                        <input type="text" name="name" id="name2" placeholder="Date of issued">
                    </fieldset>
                    <fieldset>
                        <label for="status">Status</label>
                        <select name="select-choice" id="status">
                            <option value="Choice 1">- - select one - -</option>
                            <option value="Choice 2">Yes!</option>
                            <option value="Choice 3">They're kinda cool, yeah.</option>
                            <option value="Choice 4">Meh... not really.</option>
                            <option value="Choice 5">What's Transformers?</option>
                        </select>
                    </fieldset>
                    <fieldset>
                        <label for="select-choice">Complainet Type</label>
                        <select name="select-choice" id="select-choice">
                            <option value="Choice 1">- - select one - -</option>
                            <option value="Choice 2">Yes!</option>
                            <option value="Choice 3">They're kinda cool, yeah.</option>
                            <option value="Choice 4">Meh... not really.</option>
                            <option value="Choice 5">What's Transformers?</option>
                        </select>
                    </fieldset>
                    <fieldset>
                        <label for="textarea">Fee</label>
                        <input name="textarea" type="text" min="0" id="textarea" placeholder="Fee">
                    </fieldset>

                </form>
            </div>

            <div class="col-md-6">
                <div class="rightBox">
                    <fieldset>
                        <label for="textarea2">Details</label>
                        <textarea name="textarea" type="number" min="0" id="textarea2" placeholder="Fee"></textarea>
                    </fieldset>
                </div>
                <div class="rightBox">
            
                    <fieldset>
                        <legend>Images</legend>
                      
                      </fieldset>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <button>Add Complaint</button>
            </div>

            <div class="col-md-3">
                <button>Save</button>
            </div>
            <div class="col-md-3">
                <button>Modify</button>
            </div>
            <div class="col-md-3">
                <button>Delete</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table>
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Date issued</th>
                        <th scope="col">Status</th>
                        <th scope="col">Complaint Type</th>
                        <th scope="col">Fee</th>
                        <th scope="col">Details</th>
                        <th scope="col">Images</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td data-label="Account">KK</td>
                        <td data-label="Due Date">21/08/2021</td>
                        <td data-label="Amount">Active</td>
                        <td data-label="Period">T1</td>
                        <td data-label="Period">20$</td>
                        <td data-label="Period">All</td>
                        <td data-label="Period">I1, I2, I3</td>
                      </tr>
                    
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>