<div class="full-screen-container">
    <div class="login-container">
      <h3 class="login-title">Welcome</h3>
      <form [formGroup]="userData">
        <div class="input-group">
          <label>Email</label>
          <input formControlName="email" type="email" />
        </div>
        <div class="input-group" *ngIf="!forgotPassword">
          <label>Password</label>
          <input formControlName="password" type="password" />
        </div>
        
        <button type="button" (click)="forgotPassword ? null : loginUser()" class="login-button">{{forgotPassword ? 'Send link' : 'Log In'}}</button>
        
        <button type="button" (click)="forgotPassword = true" class="login-button mt-2">Forgot Password</button>
      </form>
    </div>
  </div>