<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <form>

                    <fieldset>
                        <label for="firstName">Id</label>
                        <input type="text" disabled readonly name="name" [(ngModel)]="parkingAreaDetails.id" id="firstName" placeholder="Id">
                    </fieldset>
                    
                    <fieldset>
                        <label for="textarea">Address</label>
                        <input name="textarea" [(ngModel)]="parkingAreaDetails.address" type="text" id="textarea" placeholder="Image">
                    </fieldset>
                    <fieldset>
                        <label for="textarea">Image</label>
                        <input name="textarea" [(ngModel)]="parkingAreaDetails.imageTemp" (change)="onFileChange($event)" type="file" id="textarea" placeholder="Image">
                    </fieldset>

                    <!-- <button>Submit</button> -->
                </form>
            </div>

            <div class="col-md-6">
                <div class="rightBox">
                    <!-- <app-resizable-draggable *ngIf="markingadding" style="position: absolute;" [width]="width" [height]="height" [left]="left" [top]="top"></app-resizable-draggable> -->
                    
                    <canvas id="myCanvas" [class.hidden]="!imageSrc" width="500" height="300" (click)="addPoint($event)">

                    </canvas>
                    <img [src]="imageSrc" class="hidden" id="imagePlacer" style="display: none;" style="height: 300px; width:500px">
                </div>
                
        <div class="row margin-top">
            
            <!-- <div class="col-md-3"  *ngIf="!markingadding && imageSrc">
                <button (click)="markingadding = true">Add New Marking</button>
            </div>
            <div class="col-md-3" *ngIf="markingadding">
                <button (click)="saveMarkings()">Save marking</button>
            </div> -->
        </div>
            </div>
        </div>
        <div class="row margin-top">
            
            <div class="col-md-3">
                <button (click)="addCamera()">Save</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table>
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Address</th>
                        <th scope="col">Image</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let par of parkings">
                        <td data-label="Account">{{par.id}}</td>
                        <td data-label="Due Date">{{par.address}}</td>
                        <td data-label="Amount">{{par.image}}</td>
                      </tr>
                    
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>