@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: Roboto, san-serif;
  font-weight: 300;
  background-color: #f5f6f7;
}

/* Form element setup */
form {
    
  /* position: absolute; */
  top: 0;
  /* left: 50%; */
  width: 300px;
  /* transform: translateX(-50%); */
  margin: 2rem 0;
  z-index: 1;
}

fieldset {
  margin: 0 0 1rem 0;
  padding: 0;
  border: none;
}

legend {
  font-weight: 400;
}

legend,
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

input[type=text],
textarea,
select {
  display: block;
  padding: 0.5rem;
  width: 100%;
  background-color: white;
  border-radius: 0.25rem;
  border: 1px solid #e5e5e5;
  outline: none;
  /* List some properties that might change */
  transition-property: none;
  transition-duration: none;
}
input[type=text]:focus,
textarea:focus,
select:focus {
  border-color: #ef7ead;
}

textarea {
  max-width: 300px;
  height: 100px;
}

input[type=text],
select {
  height: 34px;
}

select {
  font-size: 0.875rem;
}

input[type=checkbox],
input[type=radio] {
  position: relative;
  top: 5px;
  width: 22px;
  height: 22px;
  margin: 0 0.5rem;
  background-color: white;
  border: 1px solid #e5e5e5;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  /* List some properties that might change */
  transition-property: none;
  transition-duration: none;
}

input[type=checkbox] {
  border-radius: 5px;
}
input[type=checkbox]:checked {
  background-color: #ef7ead;
  border: none;
}
input[type=checkbox]:checked:after {
  display: block;
  content: "";
  height: 4px;
  width: 10px;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  transform: translate(5px, 6px) rotate(-45deg) scale(1);
}

input[type=radio] {
  border-radius: 50%;
}
input[type=radio]:checked {
  border-width: 5px;
  border-color: white;
  background-color: #ef7ead;
}

button {
  display: block;
  margin: 3em auto;
  padding: 0.5rem 2rem;
  font-size: 125%;
  color: white;
  border: none;
  border-radius: 0.25rem;
  background-color: #ef7ead;
  outline: none;
  box-shadow: 0 0.4rem 0.1rem -0.3rem rgba(0, 0, 0, 0.1);
  /* We'll talk about this next */
  transform: perspective(300px) scale(0.95) translateZ(0);
  transform-style: preserve-3d;
  /* List the properties that you're looking to transition.
     Try not to use 'all' */
  transition-property: none;
  /* This applies to all of the above properties */
  transition-duration: none;
}
button:hover {
  cursor: pointer;
  background-color: #ff96c8;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  transform: scale(1.1) rotateX(0);
}
button:active {
  background-color: #ef7ead;
  transform: scale(1.05) rotateX(-10deg);
}


.rightBox {
    border: 1px solid;
    width: 100%;
    min-height: 30vh;
}


table { border: 1px solid #ccc; border-collapse: collapse; margin: 0; padding: 0; width: 100%; table-layout: fixed;}
      table caption { font-size: 1.5em; margin: .5em 0 .75em;}
      table tr { border: 1px solid #ddd; padding: .35em;}
      table th,
      table td { padding: .625em; text-align: center;}
      table th { font-size: .85em; letter-spacing: .1em; text-transform: uppercase;}
      @media screen and (max-width: 600px) {
        table { border: 0; }
        table caption { font-size: 1.3em; }
        table thead { border: none; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;}
        table tr { border-bottom: 3px solid #ddd; display: block; margin-bottom: .625em; }
        table td { border-bottom: 1px solid #ddd; display: block; font-size: .8em; text-align: right;}
        table td::before { content: attr(data-label); float: left; font-weight: bold; text-transform: uppercase; }
        table td:last-child { border-bottom: 0; }
      }

