<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <fieldset>
                    <label for="textarea2">Camera feeds:</label>
                    <textarea name="textarea" rows="10" id="textarea2" placeholder=""></textarea>
                </fieldset>
            </div>

            <div class="col-md-6">
                <div class="rightBox">
                    
                </div>
            </div>
        </div>
        <div class="row mt">
            <div class="col-md-4">
                <fieldset>
                    <label for="status">City</label>
                    <select name="select-choice" id="status">
                        <option value="Choice 1">- - select one - -</option>
                        <option value="Choice 2">Yes!</option>
                        <option value="Choice 3">They're kinda cool, yeah.</option>
                        <option value="Choice 4">Meh... not really.</option>
                        <option value="Choice 5">What's Transformers?</option>
                    </select>
                </fieldset>
            </div>

            <div class="col-md-8">
                <div class="rightBox">
                    
                </div>
            </div>
        </div>




        <div class="row mt bt">
            <div class="col-md-6">
                <fieldset>
                    <label for="name2">Name</label>
                    <input type="text" name="name" id="name2" placeholder="Date of issued">
                </fieldset>
            </div>

            <div class="col-md-6">
                <fieldset>
                    <label for="status">Complaint Type</label>
                    <select name="select-choice" id="status">
                        <option value="Choice 1">- - select one - -</option>
                        <option value="Choice 2">Yes!</option>
                        <option value="Choice 3">They're kinda cool, yeah.</option>
                        <option value="Choice 4">Meh... not really.</option>
                        <option value="Choice 5">What's Transformers?</option>
                    </select>
                </fieldset>
            </div>


            <div class="col-md-6">
                <fieldset>
                    <label for="textarea2">Details</label>
                    <textarea name="textarea" rows="10" id="textarea2" placeholder="Fee"></textarea>
                </fieldset>

            </div>
            
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <button>Submit</button>
                    </div>
                    
                    <div class="col-md-6">
                        <button>Clear</button>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>