
<div class="sidebar-wrapper">
    <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text">
            <div class="logo-img">
                <img src="/assets/img/angular2-logo-white.png"/>
            </div>
Car parking
        </a>
    </div>
    <ul class="nav responsive-nav" *ngIf="isAdmin">
         <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}" >
            <a  [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
        
        <li routerLinkActive="active" >
            <a (click)="clearAndLogout()">
                <i class="pe-7s-note2"></i>
                <p>Clear all data</p>
            </a>
        </li>
    </ul>
    
    <ul class="nav responsive-nav" *ngIf="!isAdmin">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItemsUser" class="{{menuItem.class}}" >
           <a  [routerLink]="[menuItem.path]">
               <i class="{{menuItem.icon}}"></i>
               <p>{{menuItem.title}}</p>
           </a>
       </li>
   </ul>
</div>









<!-- <li *ngIf="isMobileMenu()">
    <a class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-dashboard"></i>
        <p class="hidden-lg hidden-md">Dashboard</p>
    </a>
</li>
<li class="dropdown" *ngIf="isMobileMenu()">
      <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-globe"></i>
            <b class="caret hidden-sm hidden-xs"></b>
            <span class="notification hidden-sm hidden-xs">5</span>
            <p class="hidden-lg hidden-md">
                5 Notifications
                <b class="caret"></b>
            </p>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#">Notification 1</a></li>
        <li><a href="#">Notification 2</a></li>
        <li><a href="#">Notification 3</a></li>
        <li><a href="#">Notification 4</a></li>
        <li><a href="#">Another notification</a></li>
      </ul>
</li>
<li *ngIf="isMobileMenu()">
   <a>
        <i class="fa fa-search"></i>
        <p class="hidden-lg hidden-md">Search</p>
    </a>
</li>
<li *ngIf="isMobileMenu()">
   <a href="">
       <p>Account</p>
    </a>
</li>
<li class="dropdown" *ngIf="isMobileMenu()">
      <a class="dropdown-toggle" data-toggle="dropdown">
            <p>
                Dropdown
                <b class="caret"></b>
            </p>

      </a>
      <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
</li>
<li *ngIf="isMobileMenu()">
    <a>
        <p>Log out</p>
    </a>
</li> -->