<div class="main-content">
    <div class="container-fluid">

        <div class="row mt">
            <div class="col-md-4">
                <fieldset>
                    <label for="status">Camera</label>
                    <select name="select-choice" id="status" [(ngModel)]="cameraSelected">
                        <option value="">- - select one - -</option>
                        <option [value]="cam.id" *ngFor="let cam of cameras">{{cam.camera_url}}</option>
                    </select>
                </fieldset>
            </div>

            <div class="col-md-8">
                        <button (click)="startTest()">Start</button>
            </div>
        </div>
        
        <div class="row mt"> 
            <div class="col-md-6 videoBox"> 
                 
            <video id="video" autoplay *ngIf="cameraSelected">
                <source src="" type="video/mp4">
            </video>
           </div>

            <div class="col-md-6 border">
                <canvas id="myCanvas" width="500" height="400">

                </canvas>
            </div>
        </div>



        <div class="row">
            <div class="col-md-12">
                <table>
                    <thead>
                      <tr>
                        <th scope="col">Time</th>
                        <th scope="col" *ngFor="let o of occupied| keyvalue;let i = index">P{{i+1}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let entr of entries">
                        <td data-label="Account">{{entr.time | date}}</td>
                        <td data-label="Due Date"  *ngFor="let o of occupied| keyvalue;let i = index"><span *ngIf="entr.index == i">
{{entr.status ? 'Occupied' : 'Available'}} {{entr.plat ? '('+entr.plat+')' : '(No Plat detected)'}}
                        </span></td>
                      </tr>
                    
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>