<div class="main-content" *ngIf="!mapDdetails">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Maps</h4>
                        <p class="category">Click map to view map details</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                          <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of tableData1.dataRows" (click)="openMap(row)">
                                        <td>{{row.id}}</td>
                                        <td>{{row.address}}</td>
                                        <td>{{row.camera_url}}</td>
                                    </tr>
                                </tbody>
                          </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-content" *ngIf="mapDdetails">
    <div class="container-fluid">
  
        <div class="row">
        
        
            <div class="col-md-12">
                <div class="card">
                    
                   
                    <div class="header">
                        <h4 class="title">Map Details</h4>
                        
            <span class="navbar-right margin-right" (click)='mapDdetails = null'>
                Close
            </span>
                    </div>
                    <div class="content">
                       <div>
                        <button class="btn" (click)="updateDetectStatus()">
                            {{mapDdetails.is_detecting ? 'Stop' : 'Start'}}
                            </button>  
                       </div>    
                        <canvas id="myCanvas" width="800" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

