.margin-right {
    margin-right: 20px;
}
.main-content {
    position: relative;
}
.videoContainer {
    position: absolute;
    top: 5%;
    right: 10%;
    height: 200px;
    width: 300px;

}
.videoContainer > video {
    height: 200px;
    width: 300px;
    
}