<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="full-screen-container" 
            *ngIf="isAdmin">
                <div class="login-container" >

                  <h3 class="login-title">Welcome</h3>
                  <form [formGroup]="mapDetais">
                    <div class="input-group">
                      <label>Address</label>
                      <input formControlName="address" type="text" />
                    </div>
                    <div class="input-group">
                      <label>Camera url</label>
                      <input formControlName="url" type="text" />
                    </div>
                    <div class="input-group">
                    <label for="file">File</label>
                    <input
                        id="file" 
                        type="file" 
                        class="form-control"
                        (change)="onFileChange($event)">
                    </div>
                    <canvas id="myCanvas" [class.hidden]="!imageSrc" width="500" height="300" (click)="addPoint($event)">

                    </canvas>
                    <img [src]="imageSrc" class="hidden" id="imagePlacer" style="display: none;" style="height: 300px; width:500px">
                    <button type="button" (click)="addMap()" class="login-button">Add</button>
                  </form>
                </div>
              </div>
        </div>
    </div>
</div>
